.main {
  margin-top: 2%;
}
textarea.card-contents {
    height: 60%;
    min-height: 340px;
}
pre.pretty {
  background-color: #28323F;
}
input {
  margin-bottom: 8px;
}
.filter {
  font-size: 2.8vh;
}
.filter input {
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  box-shadow: none;
}
.filter input:focus {
  box-shadow: none;
  border-color: grey;
}
.filter ::-webkit-input-placeholder {
   font-size: 1.6vh;
}
.glyphicon-tag {
  color: darkgrey;
}