div[class^="col-"] {
  margin-top: 2%;
}
textarea.card-contents {
    height: 60%;
    min-height: 340px;
}
pre.pretty {
  background-color: #28323F;
}
input {
  margin-bottom: 8px;
}
#filter {
  width: 57%;
}
#filter label {
  float: left;
  margin-right: 2%;
  line-height: 2.85;
  margin-bottom: 0;
}
#filter input {
  float: left;
  width: 86%;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  box-shadow: none;
}
#filter input:focus {
  box-shadow: none;
  border-color: grey;
}
#filter ::-webkit-input-placeholder {
   font-size: 1.2em;
}
.glyphicon-tag {
  color: darkgrey;
}
.tagCloud .tag {
  margin-left: 3px;
  margin-right: 3px;
}
.tagCloud span {
  padding: 0 2px;
  cursor: pointer;
}
