<div class="row">
  <div class="col-md-2 tagCloud">
    <h4>Popular Topics</h4>
    <!-- 
    *******************
    Tag cloud
    *******************
    -->
 <tag ng-repeat="tag in tags" tag="tag" ng-click="updateFilter(tag.name)"></tag>
 <span ng-click="updateFilter('')">all</span>
  </div>
  <div class="col-md-10">
    <!-- 
    *******************
    Filter cards search box
    *******************
    -->
    <form action="" class="form-inline">
     <div class="form-group" id="filter">
      <label for="cardFilter"><span class="glyphicon glyphicon-search"></span></label>
      <input type="text" ng-model="cardFilter" class="form-control" id="cardFilter" placeholder="eg. directive, filter, ui-router" onfocus="placeholder=''" onblur="placeholder='eg. directive, filter, ui-router'">
      <div class="clearfix"></div>
     </div>
    </form>
    <!-- 
    *******************
    ng-repeat: cards
    *******************
    -->
    <div ng-repeat="card in cards | reverse | filter: cardFilter ">
      <h3>{{card.title}}</h3>
      <card card="card"></card>
      <p><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> &nbsp; {{card.tags}}</p>
    </div>
  </div>
</div>
