<h1>Edit Card</h1>
<div class="form-group">
  <form name="cardForm" ng-submit="saveEdits(card)">
    <label for="card-title">Title</label>
    <input ng-model="card.title" id="card-title" class="form-control">
    <label for="card-content">Card Contents</label>
    <textarea ng-model="card.content" class="form-control" id="card-content" rows="24"></textarea>
    <label for="tags">Tags</label>
    <input ng-model="card.tags" type="text" class="form-control" id="tags" placeholder="eg. controller, validation, input" onfocus="placeholder=''" onblur="placeholder='eg. controller, validation, input'">
    <div class="checkbox">
      <label>
        <input ng-model="card.code" type="checkbox" ng-init="card.code=true"> Use syntax highlighting
      </label>
      <a href ng-click="delete(card)" id="delete">delete card</a>
    </div>
    <button type="submit" ng-click="saveEdits()" class="btn btn-default">Save</button>
  </form>
</div>
